html {
	background-color: black;
	font-family: 'Inter';
	-webkit-font-smoothing: antialiased;
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}
.animate-spin {
	animation: spin 1s linear infinite;
}
